<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{{ url_for('static',filename='styles/upload_multiple.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <form action="/" method="post" id="file-catcher" enctype="multipart/form-data">
        <!--<label>Input .csv files here</label>
        <input id="file-input" name="multiple_files" type="file" multiple />
        -->
        <div class="form-container">
            <label for="formFileMultiple" class="form-label"><strong>Upload .csv/.xlsx files</strong></label>
            <input class="form-control" type="file" id="formFileMultiple" name="multiple_files" multiple>
            <input type="submit" value="Submit" />
        </div>
    </form>
</body>
</html>